@model secondhand.users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Neme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isManeger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isManeger)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
